<input type="text" [(ngModel)]="title" (ngModelChange)="titleChange.emit(title)" />
<div class="tools">
  <div class="tool-group">
    <app-tool-button tool="pen" [(selectedTool)]="selectedTool_"></app-tool-button>
    <app-tool-button tool="hand" [(selectedTool)]="selectedTool_"></app-tool-button>
    <app-tool-button tool="eraser" [(selectedTool)]="selectedTool_"></app-tool-button>
  </div>

  <button
    class="tool-bar-button"
    [ngClass]="{ selected: palmRejectionEnabled }"
    (click)="togglePalmRejection()"
  >
    <fa-stack>
      <fa-icon [icon]="faHandPointUp" stackItemSize="1x"></fa-icon>
      <fa-icon [icon]="faSlash" stackItemSize="1x" style="color:red"></fa-icon>
    </fa-stack>
  </button>
</div>
