<div class="svg-wapper">
  <svg (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)">
    <svg:path
      *ngFor="let path of paths"
      [attr.d]="getPathDescriptor(path)"
      fill="none"
      [attr.stroke]="path.color"
      [attr.stroke-width]="path.width"
    />
    <svg:path
      *ngIf="currentDrawingPath != null"
      [attr.d]="getPathDescriptor(currentDrawingPath)"
      fill="none"
      [attr.stroke]="currentDrawingPath.color"
      [attr.stroke-width]="currentDrawingPath.width"
    />
  </svg>
</div>
